{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Profile </title>
    {{form.media}}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="roe">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <form action="{%url 'edit-profile' %}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {% bootstrap_form form%}
                    <input type="submit" class="btn btn-success btn-lg" value="Add Profile">
                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

</body>

</html>