{%extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% load static%}

{% block content %}
{{block.super}}
<div id="content" class="container">
    <div class="row">
        <div class="row">
            {% for post in projects %}
            <div class="col-md-4">
                <h3 id="post-title" class="text-center">{{post.title}}</h3>
                <a class="img-post" href="{% url 'projects' post.id %}"><img src="{{post.image.url}}" class="img-responsive" alt="Project"></a>
            </div>
            {% endfor %}
        </div>
        <br><br>
        <div class="row">

        </div>
    </div>


</div>

{% endblock %}